body {
    background-color: #99c1b2;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 400px;
}

.btn {
    margin: 6px;
}

#btn1 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #0c005a;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
    margin-top: 20px;
}

#btn1:hover {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

#btn2 {
    box-shadow: 3px 4px 0px 0px #475053;
    background-color: #f3f3f3;
    border-radius: 15px;
    border: 1px solid #acdcee;
    display: inline-block;
    cursor: pointer;
    color: #2e94b9;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-shadow: 0px 1px 0px #475053;
}

#btn2:active {
    position: relative;
    top: 1px;
}

#btn3 {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

#btn3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

#btn3:hover:before {
    transform: translateX(0);
}

#btn4 {
    width: 300px;
    height: 300px;
    margin-left: 7px;
    border: 6px solid #312e28;
    box-shadow: 0px 9px 35px 7px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all .9s;
    transform: scale(100%);
}

#btn4:hover {
    transform: scale(110%);
    transition: all .9s;
}